<!DOCTYPE html>
<html>
<head>
  <title>Iftogram - Instagram from the outside</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Iftogram</a>
          <% if session[:user] %>
<!--            <img src="<%= session[:user].profile_picture %>"/> -->
            <p class="navbar-text pull-right">
              Logged in as <%= session[:user].username %>
              | <%= link_to 'Sign out', oauth_logout_path %> 
            </p>
          <% else %>
            <%= link_to 'Log in with your Instagram account', oauth_connect_path, class: 'navbar-text pull-right' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
  		<%= yield %>
	  </div>



</body>
</html>
